/********************************
      Top-Level Elements
*********************************/

html, body, #root, .app {
  height: 100%;
}

body {
  font-family: sans-serif;
}

.app {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction:         column;
}

/********************************
         Page Header
*********************************/

.page-header {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: row; /* Safari */
  flex-direction:         row;
  -webkit-align-items: center; /* Safari */
  align-items: center;
  height: 100px;
  padding: 12px 40px;
  background-color: gray;
}

.branding {
  font-size: 32px;
  letter-spacing: .2em;
  font-style: bold;
  color: rgba( 255,255,255, 0.75 );
}

/********************************
         Search Bar
*********************************/

.search-form {
  flex: 1;
  -webkit-flex: 1;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: row; /* Safari */
  flex-direction:         row;
  justify-content: flex-end;
}

.search-form input[type='text'] {
  padding: 8px 15px;
  width: 300px;
  background: rgba( 50, 50, 50, 0.2 );
  border: 0px solid #dbdbdb;
  font-size: 20px;
  color: lightgray;
}

.search-form button {
  position:relative;
  padding: 9px 15px;
  left: -2px;
  border: none;
  background-color: #207cca;
  font-size: 16px;
  color: #fafafa;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.search-form button:hover {
  background-color: blue;
}

.search-form button[disabled] {
  background-color: gray;
  color: darkgray;
  border: 1px solid;
}

.search-form button:focus {
  outline: 0;
}

/********************************
         Main Content
*********************************/

.main {
  -webkit-flex: 1; /* Safari */
  flex:         1;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: row; /* Safari */
  flex-direction:         row;
}

.main .settings-panel {
  width: 240px;
  padding: 20px;
  background-color: lightgray;
}

/* If we revert to using <ul> and <li> in images container,
   we'll have to move 'display', 'wrap', and 'align-content'
   specifications into the ul selector.
*/

.main .images-container {
  -webkit-flex: 1; /* Safari */
  flex:         1;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  padding: 12px;
  overflow: auto;
}

.images-container .image-tile {
  width: 200px;
  height: 160px;
  margin: 4px;
  border-radius: 3px;
  overflow: hidden;
}

.image-tile img { /* full resolution, vert. clipped & centered */
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/********************************
  User Prompt and Error Messages
*********************************/

.message-container {
  margin: 10% auto;
  text-align: center;
  padding: 12px;
  font-size: 32px;
  font-style: italic;
  color: lightgray;
}

.message-container span {
  display: block;
}

.message-container span:first-of-type {
  margin-bottom: 32px;
}

.message-container span.error {
  color: rgba( 255, 0, 0, 0.5 );
}



